/* Universal Styles */
html {
    height: 100%;
}

body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: seagreen;
}

svg {
    background-color: lightblue;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

/* Title */
#title {
    font-size: 30px;
    fill: purple;
}

/* Graph */
.dot {
    background-color: green;
    border-color: green;
    fill: green;

}

.dot:hover {
    fill: purple;
}

g {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    color: purple;
}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 5px;
    color: lightblue;
    font-size: 24px;
    margin-bottom: 5px;
}

#legend {
    margin-top: 5px;
    color: lightblue;
    font-size: 18px;
    text-align: center;
}