/* Universal Styles */
html {
    height: 100%;
}

body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: seagreen;
}

svg {
    background-color: lightblue;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

/* Title */
#title {
    font-size: 30px;
    fill: purple;
}

/* Graph */
.dot {
    stroke: black;
    opacity: 0.8;
}

.dot:hover {
    stroke: seagreen;
    opacity: 0.8;
}

g {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    color: purple;
}

#tooltip {
    position: absolute;
    padding: 10px;
    font-size: 12px;
    background-color: lightgreen;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}