/* Universal Styles */
html {
    height: 100%;
}

body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    height: 100%;

}

svg {
    background-color: lightblue;
    display: block;
    margin: auto;
}